
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1 style="color:yellowgreen; font-size: 100px; text-align:center; border: 3px solid pink"> Nejra MVC</h1>
